<div class="bg-[#0f172a] shadow">
	<div class="container mx-auto px-4 py-2 md:py-3">
		<div class="flex justify-between items-center">
			<div class="flex justify-between text-lg md:text-xl font-bold">
				<img class="object-contain w-6 mx-2" src="../../../assets/twitter-logo.png" alt="twitter-logo">
				<h1 class="text-white">Twitter</h1>
			</div>

			<div class="relative">
				<div class="
					cursor-pointer
					w-10
					h-10
					bg-blue-200
					text-blue-600
					flex
					items-center
					justify-center
					rounded-full"
				>
					M
				</div>
			</div>
		</div>
	</div>
</div>
